*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(wall·e-animated-movies-movies-red-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

